@charset "UTF-8";
div{
	border: 3px solid #4CAF50;
/* 	width: 200px; */
/* 	height: 100px; */
	padding: 5px;
/* 	overflow: scroll; */
}
.clearfix{
	overflow: auto;
}
.img2{
	float: right;
}
